<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>test.htm</title>
<meta name="generator" content="KF5::SyntaxHighlighting (HTML)"/>
</head><body style="background-color:#232629;color:#cfcfc2"><pre>
<span style="color:#2980b9;font-weight:bold;">&lt;!DOCTYPE </span>HTML PUBLIC &quot;-//W3C//DTD HTML 4.01//EN&quot; &quot;http://www.w3.org/TR/html4/strict.dtd&quot;<span style="color:#2980b9;font-weight:bold;">&gt;</span>
<span style="font-weight:bold;">&lt;html&gt;</span>
  <span style="font-weight:bold;">&lt;head&gt;</span>
    <span style="font-weight:bold;">&lt;title&gt;</span>This is a title<span style="font-weight:bold;">&lt;/title&gt;</span>
    <span style="font-weight:bold;">&lt;style&gt;</span>
    <span style="color:#7a7c7d;">/* comment */</span>
    <span style="color:#27ae60;font-weight:bold;">#xyz</span> { <span style="font-weight:bold;">color</span>: <span style="color:#27aeae;font-weight:bold;">red</span>; }
    h1 { <span style="font-weight:bold;">font</span>: <span style="color:#f44f4f;">&quot;Comic Sans&quot;</span>; }
    <span style="font-weight:bold;">&lt;/style&gt;</span>
  <span style="font-weight:bold;">&lt;/head&gt;</span>
  <span style="font-weight:bold;">&lt;body</span><span style="color:#27ae60;"> class=</span><span style="color:#f44f4f;">&quot;ui main&quot;</span><span style="font-weight:bold;">&gt;</span>
    <span style="font-weight:bold;">&lt;p</span><span style="color:#27ae60;"> *ngFor=</span><span style="color:#f44f4f;">&quot;let name of names&quot;</span><span style="font-weight:bold;">&gt;</span>Hello, {{ name }}!<span style="font-weight:bold;">&lt;/p&gt;</span>
  <span style="font-weight:bold;">&lt;/body&gt;</span>

  <span style="color:#7a7c7d;">&lt;!-- JavaScript code --&gt;</span>
  <span style="font-weight:bold;">&lt;script&gt;</span>
    <span style="color:#7f8c8d;">document</span>.<span style="color:#2980b9;font-style:italic;">body</span>.<span style="color:#8e44ad;font-style:italic;">appendChild</span>(<span style="color:#7f8c8d;">document</span>.<span style="color:#8e44ad;font-style:italic;">createTextNode</span>(<span style="color:#f44f4f;">'Hello World!'</span>)); <span style="color:#7a7c7d;">// comment</span>
  <span style="font-weight:bold;">&lt;/script&gt;</span>

  <span style="color:#7a7c7d;">&lt;!-- TypeScript code --&gt;</span>
  <span style="font-weight:bold;">&lt;script</span><span style="color:#27ae60;"> type=</span><span style="color:#f44f4f;">&quot;text/typescript&quot;</span><span style="font-weight:bold;">&gt;</span>
    <span style="font-weight:bold;font-style:italic;">class</span> Student {
        fullName: <span style="color:#2980b9;">string</span>;
        <span style="font-weight:bold;font-style:italic;">constructor</span>(<span style="font-weight:bold;font-style:italic;">public</span> firstName: <span style="color:#2980b9;">string</span>, <span style="font-weight:bold;font-style:italic;">public</span> middleInitial: <span style="color:#2980b9;">string</span>, <span style="font-weight:bold;font-style:italic;">public</span> lastName: <span style="color:#2980b9;">string</span>) {
            <span style="font-weight:bold;">this</span>.<span style="color:#2980b9;">fullName</span> = firstName + <span style="color:#f44f4f;">&quot; &quot;</span> + middleInitial + <span style="color:#f44f4f;">&quot; &quot;</span> + lastName;
        }
    }
    <span style="font-weight:bold;font-style:italic;">let</span> a: <span style="color:#2980b9;">null</span> = <span style="font-weight:bold;">null</span>;
    <span style="font-weight:bold;font-style:italic;">let</span> b: <span style="color:#2980b9;">number</span> = <span style="color:#f67400;">12___3</span>;
  <span style="font-weight:bold;">&lt;/script&gt;</span>

  <span style="color:#7a7c7d;">&lt;!-- JSX code --&gt;</span>
  <span style="font-weight:bold;">&lt;script</span><span style="color:#27ae60;"> src=</span><span style="color:#f44f4f;">&quot;https://unpkg.com/babel-standalone@6/babel.min.js&quot;</span><span style="font-weight:bold;">&gt;&lt;/script&gt;</span>
  <span style="font-weight:bold;">&lt;script</span><span style="color:#27ae60;"> type=</span><span style="color:#f44f4f;">&quot;text/babel&quot;</span><span style="font-weight:bold;">&gt;</span>
    ReactDOM.<span style="color:#8e44ad;">render</span>(
      <span style="font-weight:bold;">&lt;h1&gt;</span>Hello, world!<span style="font-weight:bold;">&lt;/h1&gt;</span>,
      <span style="color:#7f8c8d;">document</span>.<span style="color:#8e44ad;font-style:italic;">getElementById</span>(<span style="color:#f44f4f;">'root'</span>)
    );
    <span style="font-weight:bold;">function</span> <span style="color:#8e44ad;">Story</span>(props) {
      <span style="font-weight:bold;">const</span> SpecificStory = components[props.<span style="color:#2980b9;">storyType</span>];
      <span style="color:#fdbc4b;font-weight:bold;">return </span><span style="color:#8e44ad;font-weight:bold;">&lt;SpecificStory</span> <span style="color:#27ae60;">story</span>=<span style="color:#27aeae;">{</span> props.<span style="color:#2980b9;">story</span> <span style="color:#27aeae;">}</span> <span style="color:#27ae60;">attr2</span>=<span style="color:#f44f4f;">&quot;</span><span style="color:#f67400;">&amp;ref;</span><span style="color:#f44f4f;">&quot;</span> <span style="color:#27ae60;">attr3</span>=<span style="color:#f44f4f;">&quot;Hello\n&quot;</span> <span style="color:#8e44ad;font-weight:bold;">/&gt;</span>;
    }
  <span style="font-weight:bold;">&lt;/script&gt;</span>

  <span style="color:#7a7c7d;">&lt;!-- Mustache/Handlebars --&gt;</span>
  <span style="font-weight:bold;">&lt;script</span><span style="color:#27ae60;"> type=</span><span style="color:#f44f4f;">&quot;x-tmpl-mustache&quot;</span><span style="font-weight:bold;">&gt;</span>
    <span style="color:#8e44ad;font-weight:bold;">{{#movie}}</span>
        <span style="font-weight:bold;">&lt;div&gt;</span>
            <span style="font-weight:bold;">&lt;h1&gt;</span><span style="color:#27aeae;">{{</span>title<span style="color:#27aeae;">}}</span><span style="font-weight:bold;">&lt;/h1&gt;</span>
            <span style="font-weight:bold;">&lt;img</span><span style="color:#27ae60;"> src</span>=<span style="color:#f44f4f;">&quot;</span><span style="color:#27aeae;">{{</span>poster<span style="color:#27aeae;">}}</span><span style="color:#f44f4f;">&quot;</span><span style="color:#27ae60;"> alt</span>=<span style="color:#f44f4f;">&quot;</span><span style="color:#27aeae;">{{</span>title<span style="color:#27aeae;">}}</span><span style="color:#f44f4f;">&quot;</span><span style="font-weight:bold;">/&gt;</span>
        <span style="font-weight:bold;">&lt;/div&gt;</span>
        <span style="font-weight:bold;">&lt;div&gt;</span>
            Rating - <span style="color:#27aeae;">{{</span>ratings.critics_rating<span style="color:#27aeae;">}}</span>
        <span style="font-weight:bold;">&lt;/div&gt;</span>
    <span style="color:#8e44ad;font-weight:bold;">{{/movie}}</span>
    <span style="color:#8e44ad;font-weight:bold;">{{^movie}}</span>
        <span style="font-weight:bold;">&lt;div&gt;</span>
            Movie Does Not Exist :(
        <span style="font-weight:bold;">&lt;/div&gt;</span>
    <span style="color:#8e44ad;font-weight:bold;">{{/movie}}</span>
    <span style="color:#7a7c7d;">{{! comment }}</span>
  <span style="font-weight:bold;">&lt;/script&gt;</span>

  <span style="color:#7a7c7d;">&lt;!-- HTML template --&gt;</span>
  <span style="font-weight:bold;">&lt;script</span><span style="color:#27ae60;"> type=</span><span style="color:#f44f4f;">&quot;text/html&quot;</span><span style="font-weight:bold;">&gt;</span>
    <span style="font-weight:bold;">&lt;li&gt;&lt;a</span><span style="color:#27ae60;"> href=</span><span style="color:#f44f4f;">&quot;link&quot;</span><span style="font-weight:bold;">&gt;</span>Hello<span style="font-weight:bold;">&lt;/a&gt;&lt;/li&gt;</span>
  <span style="font-weight:bold;">&lt;/script&gt;</span>

  <span style="color:#7a7c7d;">&lt;!-- Close the block correctly after &quot;?&quot; in the JavaScript highlighter --&gt;</span>
  <span style="font-weight:bold;">&lt;script&gt;</span>
    ?
  <span style="font-weight:bold;">&lt;/script&gt;</span>

<span style="font-weight:bold;">&lt;/html&gt;</span>
</pre></body></html>
