<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>test.mustache</title>
<meta name="generator" content="KF5::SyntaxHighlighting (Mustache/Handlebars (HTML))"/>
</head><body style="background-color:#232629;color:#cfcfc2"><pre>
<span style="color:#7a7c7d;">&lt;!-- Mustache / Handlebars / Ractive template --&gt;</span>
<span style="color:#2980b9;font-weight:bold;">&lt;!DOCTYPE </span>html<span style="color:#2980b9;font-weight:bold;">&gt;</span>
<span style="font-weight:bold;">&lt;html&gt;</span>
    <span style="font-weight:bold;">&lt;head&gt;</span>
        <span style="font-weight:bold;">&lt;meta</span><span style="color:#27ae60;"> charset</span>=<span style="color:#f44f4f;">&quot;UTF-8&quot;</span> <span style="font-weight:bold;">/&gt;</span>
        <span style="font-weight:bold;">&lt;title&gt;</span><span style="color:#27aeae;">{{</span>title<span style="color:#27aeae;">}}</span><span style="font-weight:bold;">&lt;/title&gt;</span>
    <span style="font-weight:bold;">&lt;/head&gt;</span>
    <span style="color:#7a7c7d;">&lt;!-- CSS --&gt;</span>
    <span style="font-weight:bold;">&lt;style&gt;</span>
        <span style="color:#7a7c7d;">/* Mustache variable support in CSS is incomplete */</span>
        <span style="color:#27aeae;">{{</span>mustache<span style="color:#27aeae;">}}</span>
        <span style="color:#0099ff;font-weight:bold;">[ </span><span style="color:#27aeae;">{{</span>other<span style="color:#27aeae;">}}</span><span style="color:#0099ff;font-weight:bold;"> ]</span>
        body {
            <span style="color:#3daee9;">{{{</span>other<span style="color:#3daee9;">}}}</span>
            <span style="font-weight:bold;">font-size</span>: <span style="color:#f67400;">15</span><span style="color:#2980b9;">pt</span>;
            <span style="font-weight:bold;">font-family</span>: Verdana;
        }
    <span style="font-weight:bold;">&lt;/style&gt;</span>
    <span style="color:#7a7c7d;">&lt;!-- JavaScript --&gt;</span>
    <span style="font-weight:bold;">&lt;script&gt;</span>
        <span style="font-weight:bold;">var</span> foo = <span style="color:#27aeae;">{{</span>bar<span style="color:#27aeae;">}}</span>;
        <span style="color:#da4453;">`template </span><span style="color:#27aeae;">{{</span>foo<span style="color:#27aeae;">}}</span><span style="color:#da4453;"> </span><span style="color:#3daee9;">${</span> <span style="font-weight:bold;">var</span> a = <span style="color:#27aeae;">{{</span>b<span style="color:#27aeae;">}}</span> <span style="color:#3daee9;">}</span><span style="color:#da4453;">`</span>
    <span style="font-weight:bold;">&lt;/script&gt;</span>

    <span style="font-weight:bold;">&lt;body&gt;</span>
    <span style="color:#8e44ad;font-weight:bold;">{{#movie}}</span>
        <span style="font-weight:bold;">&lt;div&gt;</span>
            <span style="font-weight:bold;">&lt;h1&gt;</span><span style="color:#27aeae;">{{</span>title<span style="color:#27aeae;">}}</span><span style="font-weight:bold;">&lt;/h1&gt;</span>
            <span style="font-weight:bold;">&lt;img</span><span style="color:#27ae60;"> src</span>=<span style="color:#f44f4f;">&quot;</span><span style="color:#27aeae;">{{</span>poster<span style="color:#27aeae;">}}</span><span style="color:#f44f4f;">&quot;</span><span style="color:#27ae60;"> alt</span>=<span style="color:#f44f4f;">&quot;</span><span style="color:#27aeae;">{{</span>title<span style="color:#27aeae;">}}</span><span style="color:#f44f4f;">&quot;</span><span style="font-weight:bold;">/&gt;</span>
        <span style="font-weight:bold;">&lt;/div&gt;</span>
        <span style="font-weight:bold;">&lt;div&gt;</span>
            Rating - <span style="color:#27aeae;">{{</span>ratings.critics_rating<span style="color:#27aeae;">}}</span>
        <span style="font-weight:bold;">&lt;/div&gt;</span>
    <span style="color:#8e44ad;font-weight:bold;">{{/movie}}</span>
    <span style="color:#8e44ad;font-weight:bold;">{{^movie}}</span>
        <span style="font-weight:bold;">&lt;div&gt;</span>
            Movie Does Not Exist :(
        <span style="font-weight:bold;">&lt;/div&gt;</span>
    <span style="color:#8e44ad;font-weight:bold;">{{/movie}}</span>
    <span style="color:#7a7c7d;">{{! this is a comment </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">TODO</span><span style="color:#7a7c7d;"> </span><span style="color:#e85848;background-color:#451e1a;font-weight:bold;">ALERT</span><span style="color:#7a7c7d;"> }}</span>

    This is a partial <span style="color:#27aeae;">{{&gt;</span><span style="color:#3daee9;"> partial1 </span><span style="color:#27aeae;">}}</span>
    <span style="color:#8e44ad;font-weight:bold;">{{#block</span>
       <span style="color:#27ae60;"> param</span>=foo
       <span style="color:#27ae60;"> param2</span>=bar<span style="color:#8e44ad;font-weight:bold;">}}</span>
        <span style="color:#27aeae;">{{</span>block<span style="color:#27ae60;"> foo</span>=bar<span style="color:#27aeae;">}}</span>
    <span style="color:#8e44ad;font-weight:bold;">{{/block}}</span>

    <span style="color:#7a7c7d;">&lt;!-- Handlebars --&gt;</span>

    <span style="color:#8e44ad;font-weight:bold;">{{#list</span> people<span style="color:#8e44ad;font-weight:bold;">}}</span><span style="color:#27aeae;">{{</span>firstName<span style="color:#27aeae;">}}</span> <span style="color:#27aeae;">{{</span>lastName<span style="color:#27aeae;">}}</span><span style="color:#8e44ad;font-weight:bold;">{{/list}}</span>
    <span style="color:#8e44ad;font-weight:bold;">{{#noop}}</span><span style="color:#27aeae;">{{</span>body<span style="color:#27aeae;">}}</span><span style="color:#8e44ad;font-weight:bold;">{{/noop}}</span>
    <span style="color:#8e44ad;font-weight:bold;">{{#with</span> story<span style="color:#8e44ad;font-weight:bold;">}}</span>
        <span style="font-weight:bold;">&lt;div</span><span style="color:#27ae60;"> class</span>=<span style="color:#f44f4f;">&quot;intro&quot;</span><span style="font-weight:bold;">&gt;</span><span style="color:#3daee9;">{{{</span>intro<span style="color:#3daee9;">}}}</span><span style="font-weight:bold;">&lt;/div&gt;</span>
        <span style="font-weight:bold;">&lt;div</span><span style="color:#27ae60;"> class</span>=<span style="color:#f44f4f;">&quot;body&quot;</span><span style="font-weight:bold;">&gt;</span><span style="color:#3daee9;">{{{</span>body<span style="color:#3daee9;">}}}</span><span style="font-weight:bold;">&lt;/div&gt;</span>
    <span style="color:#8e44ad;font-weight:bold;">{{/with}}</span>
    <span style="color:#8e44ad;font-weight:bold;">{{#each</span> comments<span style="color:#8e44ad;font-weight:bold;">}}</span>
        <span style="font-weight:bold;">&lt;div</span><span style="color:#27ae60;"> class</span>=<span style="color:#f44f4f;">&quot;comment&quot;</span><span style="font-weight:bold;">&gt;</span>
            <span style="font-weight:bold;">&lt;h2&gt;</span><span style="color:#27aeae;">{{</span>subject<span style="color:#27aeae;">}}</span><span style="font-weight:bold;">&lt;/h2&gt;</span>
            <span style="color:#3daee9;">{{{</span>body<span style="color:#3daee9;">}}}</span>
        <span style="font-weight:bold;">&lt;/div&gt;</span>
    <span style="color:#8e44ad;font-weight:bold;">{{/each}}</span>
    <span style="color:#8e44ad;font-weight:bold;">{{#list</span> nav<span style="color:#8e44ad;font-weight:bold;">}}</span>
        <span style="font-weight:bold;">&lt;a</span><span style="color:#27ae60;"> href</span>=<span style="color:#f44f4f;">&quot;</span><span style="color:#27aeae;">{{</span>url<span style="color:#27aeae;">}}</span><span style="color:#f44f4f;">&quot;</span><span style="font-weight:bold;">&gt;</span><span style="color:#27aeae;">{{</span>title<span style="color:#27aeae;">}}</span><span style="font-weight:bold;">&lt;/a&gt;</span>
    <span style="color:#8e44ad;font-weight:bold;">{{/list}}</span>

    <span style="color:#7a7c7d;">{{!-- Conditionals --}}</span>
    <span style="color:#8e44ad;font-weight:bold;">{{#if</span> isActive<span style="color:#8e44ad;font-weight:bold;">}}</span>
        <span style="font-weight:bold;">&lt;img</span><span style="color:#27ae60;"> src</span>=<span style="color:#f44f4f;">&quot;star.gif&quot;</span><span style="color:#27ae60;"> alt</span>=<span style="color:#f44f4f;">&quot;Active&quot;</span><span style="font-weight:bold;">&gt;</span>
    <span style="color:#8e44ad;font-weight:bold;">{{else if</span> isInactive<span style="color:#8e44ad;font-weight:bold;">}}</span>
        <span style="font-weight:bold;">&lt;img</span><span style="color:#27ae60;"> src</span>=<span style="color:#f44f4f;">&quot;cry.gif&quot;</span><span style="color:#27ae60;"> alt</span>=<span style="color:#f44f4f;">&quot;Inactive&quot;</span><span style="font-weight:bold;">&gt;</span>
    <span style="color:#8e44ad;font-weight:bold;">{{else}}</span>
        <span style="font-weight:bold;">&lt;img</span><span style="color:#27ae60;"> src</span>=<span style="color:#f44f4f;">&quot;cry.gif&quot;</span><span style="color:#27ae60;"> alt</span>=<span style="color:#f44f4f;">&quot;&quot;</span><span style="font-weight:bold;">&gt;</span>
    <span style="color:#8e44ad;font-weight:bold;">{{/if}}</span>

    <span style="color:#7a7c7d;">{{!-- Escaping --}}</span>
    \{{escaped}}
    <span style="color:#8e44ad;font-weight:bold;">{{{{raw}}}}</span>
        {{escaped}}
    <span style="color:#8e44ad;font-weight:bold;">{{{{/raw}}}}</span>

    <span style="color:#7a7c7d;">{{!-- Whitespace Control --}}</span>
    <span style="color:#8e44ad;font-weight:bold;">{{#each</span> nav ~<span style="color:#8e44ad;font-weight:bold;">}}</span>
        <span style="font-weight:bold;">&lt;a</span><span style="color:#27ae60;"> href</span>=<span style="color:#f44f4f;">&quot;</span><span style="color:#27aeae;">{{</span>url<span style="color:#27aeae;">}}</span><span style="color:#f44f4f;">&quot;</span><span style="font-weight:bold;">&gt;</span>
            <span style="color:#8e44ad;font-weight:bold;">{{~#if</span> test<span style="color:#8e44ad;font-weight:bold;">}}</span>
                <span style="color:#27aeae;">{{</span>~title<span style="color:#27aeae;">}}</span>
            <span style="color:#8e44ad;font-weight:bold;">{{~^</span>~<span style="color:#8e44ad;font-weight:bold;">}}</span>
                Empty
            <span style="color:#8e44ad;font-weight:bold;">{{~/if</span>~<span style="color:#8e44ad;font-weight:bold;">}}</span>
        <span style="font-weight:bold;">&lt;/a&gt;</span>
    <span style="color:#8e44ad;font-weight:bold;">{{~/each}}</span>

    <span style="color:#7a7c7d;">{{!-- Helpers --}}</span>
    <span style="color:#27aeae;">{{link</span> <span style="color:#f44f4f;">&quot;See more...&quot;</span> story.url<span style="color:#27aeae;">}}</span>
    <span style="color:#27aeae;">{{log</span> <span style="color:#f44f4f;">&quot;Look at me!&quot;</span><span style="color:#27ae60;"> level</span>=<span style="color:#f44f4f;">&quot;error&quot;</span><span style="color:#27aeae;">}}</span>

    <span style="color:#7a7c7d;">{{!-- Partial --}}</span>
    <span style="color:#27aeae;">{{&gt;</span><span style="color:#3daee9;"> myPartial</span><span style="color:#27ae60;"> name</span>=..<span style="color:#3daee9;">/name </span><span style="color:#27aeae;">}}</span>
    <span style="color:#8e44ad;font-weight:bold;">{{#&gt; myPartial</span> <span style="color:#8e44ad;font-weight:bold;">}}</span>
        Failover content
    <span style="color:#8e44ad;font-weight:bold;">{{/myPartial}}</span>
    <span style="color:#8e44ad;font-weight:bold;">{{#*inline</span> <span style="color:#f44f4f;">&quot;myPartial&quot;</span><span style="color:#8e44ad;font-weight:bold;">}}</span>
        My Content
    <span style="color:#8e44ad;font-weight:bold;">{{/inline}}</span>
    <span style="color:#8e44ad;font-weight:bold;">{{#each</span> children<span style="color:#8e44ad;font-weight:bold;">}}</span>
        <span style="color:#27aeae;">{{&gt;</span><span style="color:#3daee9;"> myPartial</span><span style="color:#27aeae;">}}</span>
    <span style="color:#8e44ad;font-weight:bold;">{{/each}}</span>

    <span style="color:#7a7c7d;">&lt;!-- Delimiters in tags (folding) --&gt;</span>
    word<span style="font-weight:bold;">&lt;div&gt;</span>word

    word<span style="font-weight:bold;">&lt;/div&gt;</span>word

    <span style="font-weight:bold;">&lt;/body&gt;</span>
<span style="font-weight:bold;">&lt;/html&gt;</span>
</pre></body></html>
